<SlotMachine>
	<INITIAL_FPS>60</INITIAL_FPS>	

	<SCENE_HORIZ_MIN>-3.0</SCENE_HORIZ_MIN>
	<SCENE_HORIZ_MAX>3.0</SCENE_HORIZ_MAX>
	<SCENE_VERT_MIN>-4.0</SCENE_VERT_MIN>
	<SCENE_VERT_MAX>4.0</SCENE_VERT_MAX>
	
	<NEAREST_Z>0.1</NEAREST_Z>
	<FARTHEST_Z>100.0</FARTHEST_Z>

	<INIT_WINDOW_WIDTH>800</INIT_WINDOW_WIDTH>
	<INIT_WINDOW_HEIGHT>600</INIT_WINDOW_HEIGHT>

	<BG_COLOR>0.1 0.1 0.1 0.0</BG_COLOR>
	<ALL_COLORS>1.0 1.0 1.0 0.0</ALL_COLORS>

	<COUNT_WHEELS>5</COUNT_WHEELS>
	<COUNT_SLOTS>3</COUNT_SLOTS>

	<LEFT_SLOT_BORDER>-2.5</LEFT_SLOT_BORDER>
	<BOT_SLOT_BORDER>-1.0</BOT_SLOT_BORDER>
	<Z_SLOT_COORDINATE>-1.0</Z_SLOT_COORDINATE>

	<SLOT_WIDTH>0.9</SLOT_WIDTH>
	<SLOT_HEIGHT>0.9</SLOT_HEIGHT>
	<WHEEL_WIDTH>0.9</WHEEL_WIDTH>
	<WHEEL_HEIGHT>0.9</WHEEL_HEIGHT>

	<OFFSET_WHEEL>1.0</OFFSET_WHEEL>
	<OFFSET_SLOT>1.0</OFFSET_SLOT>

	<START_BUTTON_LEFT>1.5</START_BUTTON_LEFT>
	<START_BUTTON_BOT>-2.5</START_BUTTON_BOT>	
	<START_BUTTON_WIDTH>1.0</START_BUTTON_WIDTH>
	<START_BUTTON_HEIGHT>0.5</START_BUTTON_HEIGHT>

	<WHEEL_DELAYED>0.4 0.8 1.2 1.4 1.8 2.2 2.6 3.0 3.4 3.8</WHEEL_DELAYED>
	<WHEEL_SLOWING>8.0 8.0 8.0 8.0 8.0 8.0 8.0 8.0 8.0 8.0</WHEEL_SLOWING>
	<WHEEL_SPEED>5.0 6.0 7.0 8.0 9.0 5.0 6.0 7.0 8.0 9.0</WHEEL_SPEED>

	<START_BUTTON_TEXTURE_1>spin1</START_BUTTON_TEXTURE_1>
	<START_BUTTON_TEXTURE_2>spin2</START_BUTTON_TEXTURE_2>
	<DRAW_FPS_POS>-2.5 -3.8 -1.0</DRAW_FPS_POS>

</SlotMachine>



